.container {
  width: 70%;
  margin-top: 30px;
  min-height: 500px;
  @media (max-width: 560px) {
    max-width: unset;
    padding: 0 20px;
    width: 100%;
  }
}

.ChatFeed {
  max-height: 600px;
  overflow-y: scroll;
  padding-right: 20px;
}

input[type='text'] {
  border-radius: 8px;
  width: 100%;
}
